body{

}
body.index{
  background: #fff
}
a:hover, a:focus{
  text-decoration: none
}
input.form-control{
  font-size: 20px;
  color: #8F8F8F;
  background: #fff;
  height: 50px;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  display: block;
  outline: none;
  border-radius: 0;
  font-weight: lighter;
}
input.form-control:focus{
  border-color: #9a9a9a;
  box-shadow: none
}
.color-red{
  color: #cf1f2e
}
.btn-popular-negative{
  border-radius: 0;
  padding: 11px 26px;
  color: #fff;
  background: #333;
  position: relative;
}
.btn-popular-negative::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  background: #b71826;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease
}
.btn-popular-negative:hover::before{
  width: 100%
}
.btn-popular-negative:hover, .btn-popular-negative:focus{
  color: #fff
}
.btn-popular{
  border-radius: 0;
  padding: 11px 26px;
  color: #fff;
  background: #CF1F2E;
  position: relative;
}
.btn-popular::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  background: #b71826;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease
}
.btn-popular:hover::before{
  width: 100%
}
.btn-popular:hover, .btn-popular:focus{
  color: #fff
}
.btn-lg{
  font-size: 15px
}
.logo-popular{
  background-image: url('../images/logo-popular.svg');
  background-size: cover;
  width: 209px;
  height: 42px;
  margin: 0;
  text-indent: -10000px
}
.container-fluid{
  max-width: 1176px
}
h1{
  position: relative;
  margin: 50px auto;
  background-image: url('http://www.thecodingbear.com/img/logo-black.png');
  background-size: cover;
  width: 200px;
  height: 89px;
  text-indent: -10000px;
}
.bg{
  height: 550px;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper{
  position: absolute;
  top: 0px;
  width: 100%;
}
.wrapper .title{
  padding: 0px 0 80px 0;
}
.wrapper .title h2{
  font-size: 50px;
  color: #fff;
  margin: 0;
  text-align: center;
  background: #333;
  padding: 30px 0
}
.wrapper .box-cont-form{
  background: #fff;
  position: relative;
}
.wrapper .box-cont-form h3{
  font-size: 25px;
  color: #4b4b4b;
  line-height: 150%;
}
.wrapper .box-cont-form .info-buy-car{
  width: 394px;
  text-align: center;
  float: left;
}
.wrapper .box-cont-form .info-buy-car .special-name{
  font-size: 80px;
  color: #4b4b4b;
  margin-top: 40px;
  line-height: 78px;
}
.wrapper .box-cont-form .info-buy-car .special-name .reg{
  font-size: 20px;
  vertical-align: super;
}
.wrapper .box-cont-form .info-buy-car img{
  margin-top: 60px;
  width: 100%;
}
.wrapper .box-cont-form .form-car{
  position: relative;
  width: 635px;
  background: #f5f5f5;
  margin: auto;
  padding: 20px 0;
  box-shadow: #999 0 0 3px
}
.wrapper .box-cont-form .form-car .title-form{
  background-image: url('../images/top-form.png');
  width: 635px;
  height: 85px;
  box-sizing: border-box;
  padding-top: 21px;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  color: #fff;
  background-position: center center;
  background-size: 100% 100%;
  margin: 0
}
input.formu, select.formu{
  font-family: 'gotham_lightitalic';
  font-size: 20px;
  color: #8F8F8F!important;
  background: #fff;
  float: left;
  height: 40px;
  width: 256px;
  box-sizing: border-box;
  padding: 14px;
  margin: 8px 30px;
  display: block;
  outline: none;
}
select.formu{
  width: calc(100% - 60px);
}
input.submit{
  font-size: 15px;
  color: #fff;
  background: #333;
  margin: 20px 32px 0 0;
  padding: 10px 20px;
  float: right;
  border: none;
}
.result{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
